@charset "UTF-8";
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -----COMPONENTES REUTILIZÁVEIS----- */
.btn-primary {
  font-family: "Lato", sans-serif;
  letter-spacing: normal;
  line-height: 1.2;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #f9efff;
  max-height: 56px;
  padding: 12px 16px;
  border-radius: 50px;
  background: #a584bf;
  border: none;
  transition: ease all 300ms;
}
@media screen and (min-width: 1200px) {
  .btn-primary {
    font-family: "Lato", sans-serif;
    letter-spacing: normal;
    line-height: 1.2;
    font-size: 1.25rem;
    padding: 20px 32px;
  }
}
.btn-primary:hover, .btn-primary:focus {
  background: #80679e;
  transform: scale(1.02);
}

.social-icon {
  width: 56px;
  height: 56px;
  background: #bce5bd;
  border: 1px solid rgba(186, 163, 204, 0.2);
  border-radius: 22%;
  font-size: 24px;
}
.social-icon i {
  color: #80679e;
}

.icon-box {
  display: flex;
  width: 56px;
  height: 56px;
  align-items: center;
  justify-content: center;
  border-radius: 22%;
}

.form-check-input {
  border: b-color-4;
}
.form-check-input:checked {
  background-color: #a4dba5;
  border: #87c788;
}
.form-check-input:focus {
  background-color: #a4dba5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.header__logo {
  margin: 0;
  max-width: 170px;
}
.header__logo img {
  width: 80%;
}
@media screen and (min-width: 1200px) {
  .header__logo img {
    width: 100%;
  }
}
.header__nav {
  margin-top: 32px;
  padding: 8px 24px;
  max-height: 80px;
  background: #f5fcf5;
  border: 1px solid #f9efff;
  border-radius: 30px;
  box-shadow: 0 2px 1px 0 rgba(21, 66, 48, 0.15);
}
@media screen and (min-width: 1200px) {
  .header__nav {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 992px) {
  .header__nav {
    border-radius: 50px;
  }
}
.header__nav-list {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: -2%;
  line-height: 1.2;
  font-size: 1rem;
  gap: 18px;
}
@media screen and (min-width: 992px) {
  .header__nav-list {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: -2%;
    line-height: 1.2;
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav-list {
    gap: 24px;
  }
}
.header__nav-item {
  position: relative;
  display: flex;
  align-items: center;
}
.header__nav-item .nav-link {
  color: #32506d;
}
.header__nav-item .nav-link:hover {
  font-weight: bold;
}
.header__nav-item .active {
  font-weight: bold;
  color: #32506d !important;
}
.header__nav-detail {
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background: #a584bf;
}
@media screen and (min-width: 992px) {
  .header__nav-detail {
    width: 2px;
    height: 20px;
  }
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 10px;
  background: #a584bf;
  border: none;
}
.header__button-icon {
  color: #f9efff;
  font-size: 40px;
}
.header__nav-mobile {
  background: #f5fcf5;
  border: 1px solid #f9efff;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 2px 1px 0 rgba(21, 66, 48, 0.15);
}

.hero {
  position: relative;
  width: 100%;
  height: 682px;
}
@media screen and (min-width: 1400px) {
  .hero {
    height: 768px;
  }
}
.hero {
  overflow: hidden;
  background-color: #f5fcf5;
}
.hero__slider {
  width: 100%;
  height: 100%;
}
.hero__slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 240px 16px 48px;
}
@media screen and (min-width: 992px) {
  .hero__slide {
    padding: 340px 0 96px;
    background-position: top left;
  }
}
.hero__slide--1 {
  background-image: linear-gradient(1.06deg, rgba(0, 0, 0, 0.32) 0.83%, rgba(16, 35, 54, 0.24) 49.93%, rgba(16, 35, 54, 0.08) 99.03%), linear-gradient(90.26deg, rgba(21, 66, 48, 0.15) 0.21%, rgba(16, 35, 54, 0.06) 45.01%, rgba(70, 116, 70, 0.045) 57.26%, rgba(70, 116, 70, 0.03) 69.52%), url(../img/photo/img-1.jpg);
}
.hero__slide--2 {
  background-image: linear-gradient(300.51deg, rgba(0, 0, 0, 0.32) 1%, rgba(84, 56, 133, 0.16) 45.24%, rgba(84, 56, 133, 0.08) 76.17%), linear-gradient(270.06deg, rgba(0, 0, 0, 0.3) 0.05%, rgba(84, 56, 133, 0.12) 70.05%, rgba(84, 56, 133, 0.06) 99.95%), url(../img/photo/img-2.jpg);
}
.hero__content {
  gap: 24px;
}
@media screen and (max-width: 991.9px) {
  .hero__content {
    text-align: center !important;
    align-items: center !important;
    gap: 8px;
  }
}
.hero__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: -2%;
  line-height: 1.2;
  font-size: 2.5rem;
}
@media screen and (min-width: 992px) {
  .hero__title {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: -2%;
    line-height: 1.2;
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: -2%;
    line-height: 1.2;
    font-size: 4rem;
  }
}
.hero__title {
  color: #f5fcf5;
}
.hero__title span {
  font-weight: bold;
}
.hero__title .verde {
  color: #87c788;
}
.hero__title .roxo {
  color: #baa3cc;
}
.hero__desc {
  font-family: "Lato", sans-serif;
  letter-spacing: normal;
  line-height: 1.2;
  font-size: 1rem;
  color: #ebf3fa;
}
@media screen and (min-width: 992px) {
  .hero__desc {
    font-family: "Lato", sans-serif;
    letter-spacing: normal;
    line-height: 1.2;
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero__desc {
    font-family: "Lato", sans-serif;
    letter-spacing: normal;
    line-height: 1.2;
    font-size: 1.25rem;
  }
}

.swiper {
  --swiper-pagination-color: #bce5bd;
  --swiper-pagination-bullet-inactive-color: #e1f7e1;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bottom: 32px;
}

.sobre {
  background-color: #f5fcf5;
  padding: 64px 16px;
}
@media screen and (min-width: 992px) {
  .sobre {
    padding-top: 120px;
    padding-bottom: 96px;
  }
}
.sobre__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: -2%;
  line-height: 1.2;
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  .sobre__title {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: -2%;
    line-height: 1.2;
    font-size: 3rem;
  }
}
.sobre__title span {
  font-weight: bold;
}
.sobre__title {
  margin-bottom: 48px;
}
.sobre__title::after {
  content: "";
  display: block;
  width: 64px;
  height: 3px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #a584bf;
}
.sobre__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .sobre__items {
    flex-direction: row;
    align-items: stretch;
  }
}
.sobre__imagem--nutri {
  width: 100%;
  min-height: 600px;
  height: 100%;
  object-fit: cover;
  border-radius: 50px 50px 0px 0px;
}
@media screen and (min-width: 768px) {
  .sobre__imagem--nutri {
    border-radius: 50px 0px 0px 0px;
  }
}
.sobre__wrapper {
  background-color: #e1f7e1;
  padding: 16px;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .sobre__wrapper {
    padding: 24px;
    flex: 1;
  }
}
@media screen and (min-width: 1200px) {
  .sobre__wrapper {
    padding: 48px;
  }
}
.sobre__subtitle {
  font-family: "Lato", sans-serif;
  letter-spacing: normal;
  line-height: 1.2;
  font-size: 1.5rem;
  text-align: center;
  color: #102336;
}
@media screen and (min-width: 992px) {
  .sobre__subtitle {
    font-family: "Lato", sans-serif;
    letter-spacing: normal;
    line-height: 1.2;
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .sobre__subtitle {
    text-align: start;
  }
}
.sobre__content {
  font-family: "Lato", sans-serif;
  letter-spacing: normal;
  line-height: 1.2;
  font-size: 1rem;
  color: #32506d;
}
@media screen and (min-width: 992px) {
  .sobre__content {
    font-family: "Lato", sans-serif;
    letter-spacing: normal;
    line-height: 1.2;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
.sobre__credenciais {
  border-radius: 0 0 50px 50px;
}
@media screen and (min-width: 768px) {
  .sobre__credenciais {
    border-radius: 0;
  }
}
.sobre__cred-title::after {
  content: "";
  display: block;
  width: 64px;
  height: 3px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #a584bf;
}
@media screen and (min-width: 768px) {
  .sobre__cred-title::after {
    margin-left: 0;
    margin-right: auto;
  }
}
.sobre__credenciais-item {
  display: inline-flex;
  font-family: "Lato", sans-serif;
  letter-spacing: normal;
  line-height: 1.2;
  font-size: 1rem;
  color: #32506d;
}
@media screen and (min-width: 992px) {
  .sobre__credenciais-item {
    font-family: "Lato", sans-serif;
    letter-spacing: normal;
    line-height: 1.2;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
.sobre__credenciais-item {
  gap: 12px;
}
.sobre__credenciais-item i {
  color: #a584bf;
}
.sobre__imagem--atleta {
  width: 100%;
  height: 100%;
  max-height: 360px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .sobre__imagem--atleta {
    border-radius: 0px 0px 50px 0px;
  }
}

.metodo {
  background-color: rgba(165, 132, 191, 0.4);
  padding: 64px 16px;
}
@media screen and (min-width: 992px) {
  .metodo {
    padding-top: 120px;
    padding-bottom: 96px;
  }
}
.metodo__title-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  padding: 16px;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .metodo__title-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.metodo__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: -2%;
  line-height: 1.2;
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  .metodo__title {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: -2%;
    line-height: 1.2;
    font-size: 3rem;
  }
}
.metodo__title span {
  font-weight: bold;
}
.metodo__title {
  text-align: center;
}
.metodo__title::after {
  content: "";
  display: block;
  width: 64px;
  height: 3px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #76a876;
}
@media screen and (min-width: 768px) {
  .metodo__title::after {
    margin-left: 0;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .metodo__title {
    text-align: start;
  }
}
.metodo__title-desc {
  font-family: "Lato", sans-serif;
  letter-spacing: normal;
  line-height: 1.2;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #4c6d8c;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .metodo__title-desc {
    text-align: end;
  }
}
.metodo__cards-wrapper {
  margin: 0 16px;
  max-width: 2000px;
}
.metodo__card-wrapper {
  flex: 1;
  background-color: #f9efff;
  border-radius: 25px;
  padding: 32px 20px;
  border: 1px solid rgba(135, 199, 136, 0.2);
  transition: ease 300ms;
}
.metodo__card-wrapper:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.1);
}
.metodo__card-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: -2%;
  line-height: 1.2;
  font-size: 1.25rem;
  text-transform: initial;
  text-align: center;
  font-weight: bold;
  color: #50406b;
  margin-bottom: 24px;
}
.metodo__card-content {
  font-family: "Lato", sans-serif;
  letter-spacing: normal;
  line-height: 1.2;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .metodo__card-content {
    font-family: "Lato", sans-serif;
    letter-spacing: normal;
    line-height: 1.2;
    font-size: 1.125rem;
  }
}
.metodo__card-content {
  color: #32506d;
  text-align: center;
}
.metodo .icon-box {
  margin-bottom: 8px;
}

.planos {
  background-color: #f5fcf5;
  padding: 64px 16px;
}
@media screen and (min-width: 992px) {
  .planos {
    padding-top: 120px;
    padding-bottom: 96px;
  }
}
.planos__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: -2%;
  line-height: 1.2;
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  .planos__title {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: -2%;
    line-height: 1.2;
    font-size: 3rem;
  }
}
.planos__title span {
  font-weight: bold;
}
.planos__title {
  margin-bottom: 24px;
}
.planos__title::after {
  content: "";
  display: block;
  width: 64px;
  height: 3px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #a584bf;
}
.planos__title-desc {
  font-family: "Lato", sans-serif;
  letter-spacing: normal;
  line-height: 1.2;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #4c6d8c;
  text-align: center;
  margin-bottom: 32px;
}
.planos__card-wrapper {
  position: relative;
  flex: 1;
  background-color: #fff;
  border-radius: 25px;
  border: 2px solid #a584bf;
  padding: 48px 24px;
  box-shadow: 0 2px 1px 0 rgba(21, 66, 48, 0.15);
  transition: ease all 300ms;
}
.planos__card-wrapper:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.1);
}
.planos__card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 0;
}
.planos__card-etiqueta {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 86px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.05em;
  background-color: #5bff4c;
  border-radius: 50%;
}
.planos__card-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: -2%;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: bold;
  color: #203b54;
  margin-bottom: 48px;
}
.planos__card-preco {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: -2%;
  line-height: 1.2;
  font-size: 3rem;
  color: #102336;
}
.planos__card-preco span {
  font-weight: bold;
}
.planos__card-parc {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: -2%;
  line-height: 1.2;
  text-transform: none;
  font-weight: bold;
  color: #102336;
}
.planos__card-item {
  display: inline-flex;
  gap: 8px;
}
.planos__card-item i {
  color: #a584bf;
}
.planos__card-item p {
  font-family: "Lato", sans-serif;
  letter-spacing: normal;
  line-height: 1.2;
  font-size: 1rem;
}
@media screen and (min-width: 992px) {
  .planos__card-item p {
    font-family: "Lato", sans-serif;
    letter-spacing: normal;
    line-height: 1.2;
    font-size: 1.125rem;
  }
}
.planos__card-item p {
  color: #32506d;
}

.form-check-label {
  font-family: "Lato", sans-serif;
  letter-spacing: normal;
  line-height: 1.2;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #4c6d8c;
  text-align: center;
  text-transform: uppercase;
  line-height: 0px;
}

.hot-item {
  display: inline-block;
  background-color: #5bff4c;
  padding: 5px;
  border-radius: 5px;
  color: #203b54;
  letter-spacing: 0.05em;
}

/*# sourceMappingURL=style.css.map */
