.footer {
  padding-top: 64px;
  padding-bottom: 0px;
  @include device(m) {
    padding-top: 120px;
  }
  background-color: $b-color-0;
  &__content-wrapper {
    flex-direction: column;
    @include device(m) {
      flex-direction: row;
    }
    img {
      @include device(m) {
        width: 230px;
        height: 160px;
      }
      min-width: 180px;
      min-height: 110px;
    }
  }

  &__contact-list {
    @include type-2(20);
    text-align: center;
    flex-direction: column;
    color: $s-color-6;
    margin-top: 24px;
    @include device(m) {
      text-align: start;
      flex-direction: row;
      gap: 36px!important;
      margin-top: 0;
      margin-bottom: 0;
    }
    p {
      font-weight: bold;
    }
    a {
      color: $s-color-6;
      text-decoration: none;
      transition: color 0.3s ease;
      &:hover {
        color: $b-color-4;
      }
    }
  }
  &__copy {
    flex-direction: column;
    @include device(m) {
      flex-direction: row;
    }
    width: 100%;
    margin-top: 120px;
    padding: 16px 30px;
    background-color: $b-color-2;
    &-desc {
      @include type-2(18);
      color: $s-color-6;
      @include device(m) {
        @include type-2(20);
        margin-bottom: 0;
      }
    }
    &-logo {
      display: block;
      margin-top: 16px;
      @include device(m) {
        margin-top: 0;
      }
    }
  }
}
